@active-blue: #2b8dd8;
@cancel-red: #e23757;

.hide-timer
{
    h1
    {
        margin: 0;
        font-size: 14px;
    }

    p
    {
        margin: 0;
    }

    .hide-timer-display
    {
        margin-top: -5px;

        .digits
        {
            color: @active-blue;
            font-size: 24px;
            font-weight: 500;
            padding-right: 1px;
        }

        .unit
        {
            font-size: 14px;
            font-weight: 500;
            padding-right: 6px;
        }
    }

    .action-info
    {
        font-size: 10px;
        margin-top: -5px;

        .info-link
        {
            color: @active-blue;
            cursor: default;
        }
    }

    .cancel-zone
    {
        margin-top: -2px;

        .cancel-button
        {
            font-size: 10px;
            color: @cancel-red;
        }
    }
}
