@import "~css/timer-box-layout";
@import "~css/colours";

.hide-timer
{
    margin-bottom: 8px;
    width: 180px;
    .timer-box-layout();

    .timer-body
    {
        .timer-display
        {
            .hide-timer-display
            {
                line-height: .9;

                .inner
                {
                    position: relative;
                    width: 100%;
                    height: 25px;

                    .timer-blocks
                    {
                        .unit-block
                        {
                            display: inline-block;

                            &.faded
                            {
                                opacity: .45;
                            }

                            .digits
                            {
                                color: @active-blue;
                                font-size: 24px;
                                font-weight: 500;
                                padding-right: 1px;
                            }

                            .unit
                            {
                                font-size: 14px;
                                font-weight: 500;
                                padding-right: 6px;
                            }
                        }
                    }

                    // not existing until hidden mode
                    .overlay-block
                    {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        color: white;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        opacity: 0;
                        font-style: italic;
                    }
                }

                &.hidden
                {
                    background-color: @hide-black-blue;
                    cursor: pointer;

                    .inner
                    {
                        .timer-blocks
                        {
                            opacity: 0;
                        }

                        .overlay-block
                        {
                            display: flex;

                            &:hover
                            {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }

            .action-info
            {
                font-size: 10px;
                margin-top: -1px;

                .info-link
                {
                    color: @active-blue;
                    cursor: default;
                    opacity: .8;

                    &.red
                    {
                        color: @cancel-red;
                    }
                }
            }

            .cancel-zone
            {
                margin-top: -3px;

                .cancel-button
                {
                    font-size: 10px;
                    color: @cancel-red;
                }
            }
        }
    }
}